<html>
    <head>
        <meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Locate Me</title>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">

<link rel="stylesheet" href="/static/style.css">

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    </head>
    <body>
        <h1>Locate me</h1>
        <div>
        <input type="text" id="location-input" placeholder="Enter a Location: "/>
        <button id="search-btn">Search Location</button>
        </div>
            <p id="status"></p>
                <div>
                <button id= "locate-btn">Locate me</button>
                <button id= "reset-btn">Reset map</button>
                </div>
                <div id="map"></div>
                <script>
                    const map= L.map("map").setView([0,0], 2);
                    L.titleLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
                      maxZoom: 19
                      attribution: "© OpenStreetMap contributors"
                    }).addTo(map);

                    document.getElementById("search-btn").addEventListener('click', ()=> {
                        const location= document.getElementById("location-input").value.trim();
                        const status= document.getElementById("status");

                        if(!location){
                            status.textContent= "Please enter a location";
                            return;
                        }

                        status.textContent= "Searching..";

                        fetch("/geocode", {
                            method: 'POST',
                            headers: {'Content-Type': "application/json"},
                            body: JSON.stringify({location})
                        })
                        .then((response) => response.json())
                        .then((data) => {
                            if(data.error){
                                status.textContent= data.error;
                                return;
                            }
                            const {latitude, longitude, display_name}= data;

                            map.setView([latitude, longitude], 15);

                            L.marker([latitude,longitude])
                            .addTo(map)
                            .bindPopup('<b>${display_name}</b>')
                            .openPopup();

                            status.textContent= 'Location found: ${display_name}';
                        })
                        .catch((error) => {
                            console.error("Error fetching location: ", error);
                            status.textContent= "An error occured while fetching the location.";
                        });
                    });

                    document.getElementById("locate-btn").addEventListener("click", ()=> {
                        const status= document.getElementById("status");

                        if(navigator.geolocation){
                            navigator.geolocation.getCurrentPosition(
                                (position) => {
                                    const {latitude, longitude}= position.coords;
                                    map.setView([latitude, longitude], 15);
                                    L.marker([latitude, longitude], 15);
                                    .addTo(map)
                                    .bindPopup('<b>You are here</b>')
                                    .openPopup();

                                    status.textContent= "Your location is detected.";
                                },
                                (error) => {
                                    console.error("Error getting location: ", error);
                                    status.textContent= "Unable to retrieve your location.";
                                }
                            );
                        }
                        else{
                            status.textContent= "Geolocation is not supported by your browser.";
                        }
                    });

                    document,document.getElementById('reset-btn').addEventListener('click', ()=> {
                        map.setView([0,0], 2);
                        document.getElementById("status").textContent= "";
                        document.getElementById("location-input").value= "";
                    });
                </script>
            </body>
            </html>
            
                    

